@font-face {
    font-family: 'Alcrudas';
    src :url("assets/fonts/Alucrads.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #4200FF;
}
.section-adjustment {
    display: flex;
    justify-content: center;
}
.title-adjustment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
}
.main-font {
    background : none;
    border : none;
    display: block;
    font-family: 'Alcrudas', cursive;
    font-size: 200px;
    font-weight: normal;
    color: azure;

}
.sub-font {
    background : none;
    border : none;
    display: block;
    font-family: 'Alcrudas', cursive;
    font-weight: normal;
    color: azure;
    font-size : 50px;
    margin-top: 5px;
}
.sub-text-adjustment {
    display: flex;
    justify-content: center;
    align-items: center;
}